<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Powers
      </h1>
    </div>
  </div>
</section>

<br>

<ul>
  <% @powers.each do |power| %>
    <li>
      <h2><%= link_to power.name, power %></h2>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>
