<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Power Profile
      </h1>
    </div>
  </div>
</section>

<h2><%=@power.name%></h2>

<p><%=@power.description%></p>
