<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Power Profile
      </h1>
    </div>
  </div>
</section>

<br>

<h2>SuperPower: <%=@power.name%></h2>

<br>

<p>Description: <%=@power.description%></p>
