<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<br>
<hr>

<%= button_to("Add Heroine", new_heroine_path, :method => :get, :form_class => "heroine-btn-class") %>
