<div>
  <h1>NAME: <%= @heroine.name %></h1>
  <h2>SUPER NAME: <%= @heroine.super_name %></h2>
  <h3>POWER: <%= @heroine.power.name %></h3>
</div>

<div>
  <%= link_to 'create new heroine', new_heroine_path %>
</div>
