// Place all the styles related to the superheroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heroine-btn-class {
  margin-right: 50%;
  float: right;
}

.back_btn {
  margin-right: 50%;
  float: right;
}
